# MySQL Database Connection URL
# Format: mysql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="mysql://root:@localhost:3306/web_butik"

# NextAuth / JWT Secret
JWT_SECRET="butik-ethereal-editorial-secret-key-2026"
NEXTAUTH_SECRET="butik-ethereal-editorial-secret-key-2026"
NEXTAUTH_URL="http://localhost:3000"
